

a{
    text-decoration:none;
}
td {
    width: 120px;
    height: 120px;
    text-align: center;
    border: 1px black;
}
table {
    border: 2px;
    border-color: cyan magenta yellow black; /* ramka w kolorach CMYK :) */
    border-style:double;
    border-width: 10px;
}
fieldset {
    width: 720px;
    color: white;
}
h1{
    color:white;
}